.panel {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #333;
}

.panel.centered {
  margin-left: auto;
  margin-right: auto;
}

.login-panel {
  max-width: 800px;
  margin-top: 10rem;
}

label {
  display: block;
}

input {
  display: block;
}

button {
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
}
