.form-panel {
  padding: 0.5rem 0;
}

.form-group {
  padding: 0.5rem 0;
}

.form-label {
  display: block;
}

.form-input {
  height: 2rem;
  width: 100%;
  border: 0;
  border-radius: 3px;
  box-shadow: 0.125rem 0.125rem 0.125rem rgba(var(--color-gray-dark), 0.5);
  background-color: #fff;
}

.form-input:focus-visible {
  outline: 2px solid rgb(var(--color-secondary));
}

@media (min-width: 992px) {
  .form-input {
    width: 20rem;
  }

  .form-panel {
    padding: 0.5rem 1rem;
  }

  .form-group {
    padding: 0.5rem 0.2rem;
  }
}
