.breadcrumbs {
  display: flex;
}
.breadcrumbs > a::after {
  content: '';
  display: inline-block;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}

.breadcrumbs > .current {
  padding: 0.25rem;
}

.breadcrumbs > .btn {
  padding: 0.25rem;
}
