.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.btn.btn-link {
  padding: 0.25rem 1rem;
  background: none;
  border: none;
  color: var(--color-link);
  cursor: pointer;
}

.btn.btn-link:visited {
  color: var(--color-link-visited);
}
