.modal-container {
  z-index: 1000
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-nearlyblack), 0.5);
}
.modal {
  z-index: 1001;
  position: relative;
  background-color: rgb(var(--color-nearlywhite));
  width: 60vw;
  margin: 5rem auto;
  border-radius: 5px;
}

.modal-header {
  border-bottom: 1px solid rgb(var(--color-gray-light));
}

.modal-header > h1 {
  display: flex;
  padding: 0.5rem 4rem 0.5rem 1rem;
}

.modal-title {
  flex-grow: 1;
}

.modal-close-btn {
  border: 0;
  background: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 24px;
  color: rgb(var(--color-gray-dark))
}

.modal-actions-area {
  font-size: 1rem;
  font-weight: 100;
}
