header {
  background-color: rgb(var(--color-bg-light));
  padding: 0 0 0 1rem;
  display: flex;
}

main {
  padding: 0.1rem 0.5rem 0 0.5rem;
}

.burger-container, .close-container {
  padding: 0.4rem 0.5rem 0.4rem 0;
}

.close-btn {
  background: none;
  border: none;
  color: rgb(var(--color-nearlywhite));
  cursor: pointer;
}

.close-container {
  padding-left: 1rem;
}

.nav-tabs {
  list-style-type: none;
  margin: 0;
  background-color: rgb(var(--color-nearlyblack));
  padding: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80vw;

  transform: translate3d(-80vw, 0, 0);
  transition: transform .45s cubic-bezier(.51,.22,.45,.98);
}

.menu.open > .nav-tabs {
  transform: translate3d(0, 0, 0);
}

.nav-tabs > li {
  padding: 0;
}

.nav-tab {
  color: rgb(var(--color-nearlywhite));
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(var(--color-gray), 0.25);
}


@media (min-width: 992px) {
  main {
    padding: 1rem 3rem 0 3rem;
  }

  .nav-tabs {
    display: inline-block;
    background-color: transparent;
    position: static;
    transform: translate3d(0, 0, 0);
    padding-left: 1rem;
  }
  .nav-tabs > li {
    display: inline-block;
    padding: 0.25rem 0.5rem 0 0.5rem;
  }

  .nav-tab {
    display: block;
    padding: 0.75rem 0.5rem;
    color: rgb(var(--color-nearlyblack));
    text-decoration: none;
    background-color: rgb(var(--color-primary-light));

    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(var(--color-gray-dark), 0.25);
  }

  .nav-tab:hover {
    box-shadow: 0.125rem 0 0.125rem rgba(var(--color-gray), 0.25);
  }

  .nav-tab.active {
    background-color: rgb(var(--color-nearlywhite));
    box-shadow: 0.125rem -0.125rem 0.125rem rgba(var(--color-gray), 0.25);
  }

  .burger-container, .close-container {
    display: none;
  }
}
