.secondary-nav {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
}

.secondary-nav > a {
  display: inline-block;
  padding: 1rem 0;
  flex-grow: 1;
  text-align: center;
  background-color: rgb(var(--color-bg));
}

.secondary-nav > a.active {
  background-color: rgb(var(--color-nearlywhite));
}

@media (min-width: 992px) {
  .secondary-nav-container {
    display: flex;
  }
  .secondary-nav {
    position: static;
    width: 10rem;
    flex-direction: column;
  }
  .secondary-nav > a {
    background-color: rgb(var(--color-nearlywhite));
    border-left: 2px solid rgb(var(--color-bg));
    text-align: left;
    padding-left: 1rem;
    color: rgv(var(--color-nearlyblack));
    position: relative;
  }
  .secondary-nav > a.active {
    border-color: rgb(var(--color-primary));
    color: rgb(var(--color-primary))
  }
  .secondary-nav > a.active:after {
    content: ">";
    position: absolute;
    right: 20px;
  }
  .secondary-nav > a:hover {
    border-color: rgb(var(--color-primary-light));
    color: rgb(var(--color-primary-light))
  }
  .secondary-nav > a:hover:after {
    content: ">";
    position: absolute;
    right: 20px;
  }
  .secondary-nav-main {
    padding: 0 1rem;
    flex-shrink: 2;
    width: 100%;
  }
}
