:root {
  --color-bg:  224, 223, 99; /* #E0DF63 */
  --color-bg-light: 238, 238, 169; /* #EEEEA9 */
  --color-bg-dark: 128, 127, 25; /* #807f19 */
  --color-primary: 224, 77, 77; /* #E04D4D */
  --color-primary-light: 235, 146, 146;/* #EB9292 */
  --color-primary-dark: 124, 29, 29;/* #7c1d1d */
  --color-secondary: 54, 159, 224; /* #369FE0 */
  --color-secondary-dark: 43, 107, 148; /* #2B6B94;*/

  --color-gray: 165, 165, 165; /* #a5a5a5; */
  --color-gray-dark: 126, 126, 126; /* #7E7E7E;*/
  --color-gray-light: 203, 203, 203; /* #cbcbcb;*/
  --color-gray-extralight: 229, 229, 229; /* #e5e5e5;*/
  --color-nearlywhite: 242, 242, 242; /* #f2f2f2; */
  --color-gray-extradark: 76, 76, 76; /* #4c4c4c; */
  --color-nearlyblack: 19, 19, 19; /* #191919 */

  --color-text: rgb(var(--color-nearlyblack));
  --color-text-inverse: rgb(var(--color-gray-extralight));
  --color-link: rgb(var(--color-secondary-dark));
  --color-link-visited: rgb(var(--color-bg-dark));

  font-size: 18px;
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-nearlywhite));
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table > thead > tr > th {
  border-bottom: 1px solid rgb(var(--color-gray-dark));
}

table > thead > tr > th,
table > tbody > tr > td {
  text-align: start;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.inline-list {
  list-style-type: none;
  padding: 0;
}

.chevron {
  display: inline-block;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  width: 10px;
  height: 10px;
}

.chevron.left {
  transform: rotate(-225deg);
}

.chevron.right {
  transform: rotate(-45deg);
}

.chevron.up {
  transform: rotate(-135deg);
}

.chevron.down {
  transform: rotate(-325deg);
}
